{% extends 'base.html' %}

{% block title %}About Me{% endblock title %}

{% block content %}

<h1>About Me</h1>
<p>Hello, my name is DeVonte G. I am an aspiring developer. I am currently in a coding bootcamp program to become a developer. One day I hope to become a software / application developer.I was born and raised in Macon, GA in July of 1992. I played sports from middle school and transitioned over to JROTC sports in highschool. I joined military after highschool in 2010 and shipped off to bootcamp in September of 2010 to the Marine Corps. I was a Satellite Communications Operator in Okinawa, Japan for 2 years, then my next duty station of Camp Pendleton, CA. After my enlistment ended in 2014, I took up fiber optics and worked for the government as a Network Installation Technician for 5 years. I am also an electrician. I chose to do coding because I was introduced to it back in highschool at the age of 15. I prefer to work from home and this field would grant me that opportunity to.</p>
{% endblock content %}
